<div>

  <h4 class="pb-3">Tutorials List</h4>


  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title"
        (keydown)="searchTitle()" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col" width="10%">#</th>
            <th scope="col">Ttile</th>
            <th scope="col" width="5%">Details</th>
            <th scope="col" width="10%">Publish</th>
            <th scope="col" width="10%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tutorial of tutorials; let i = index;" class="{{tutorial.published ? '':'table-secondary'}}">
            <th scope="row">{{i+1}}</th>
            <td>{{tutorial.title}}</td>
            <td class="text-center"><i class="ri-eye-line" (click)="datial(tutorial)"></i></td>
            <td>
              <button role="button" class="badge border-0 {{tutorial.published ? 'badge-success':'badge-warning'}}"
                (click)="this.currentTutorial=tutorial;updatePublished(!tutorial.published,tutorial.id);">
                {{tutorial.published ? 'Published':'Pending'}}
              </button>
            </td>

            <td>
              <button class="ri-edit-box-line mr-2 btn-primary btn btn-sm border-0"
                (click)="setActiveTutorial(tutorial, i)"></button>
              <button role="button" class="ri-delete-bin-6-fill btn-danger btn btn-sm"
                (click)="deleteTutorial(tutorial.id)"></button>
            </td>
          </tr>
          <!-- <tr>
            <td *ngIf="" colspan="4" class="text-center" center>NO Data</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>


<app-tutorial-details [viewMode]="true" [currentTutorial]="currentTutorial"
  (modalUpdate)="handleRelod($event)"></app-tutorial-details>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailModalLabel">Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <b>Title:- </b>{{this.currentTutorial.title}}
        </p>
        <p>
          <b>Description:- </b>{{this.currentTutorial.description}}
        </p>
        <p>
          <b>Status:- </b>{{this.currentTutorial.published?'Published':'Pending'}}
        </p>
      </div>
    </div>
  </div>
</div>